*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins' , sans-serif;
}

.show{
    width: 100%;
    min-height: 100vh;
    padding:5%;
   
    background-color: rgb(140, 140, 140); 
    display:flex ;  
    align-items: center;
    justify-content: center;
}
.container{
    background-color: rgb(0, 0, 0);
}
.top{
    display: flex;
    align-items: center;
    align-content: center;

}
.img{
    width: 150px;
    height: 90px;
}
.search-bar{
    margin-left: 18%;
   
    border: 5px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    width:50%;
    max-width:700px;
    background: rgba(12, 11, 11, 0.2);
    display:flex ;  
    align-items: center;
    border-radius: 20px;
    padding: 5px 5px;
    /* backdrop-filter: blur(4px) saturate(180%); */
}
.search-bar input{
   background: transparent;
   flex: 1;
   border: 0;
   outline: none;
   padding: 24px 20 px;
   font-size: 20px;
   color: rgb(255, 255, 255);
}
.search-bar button img{
    width :25px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background : #58629b;
    cursor: pointer;
}
h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    text-decoration-line: underline;
    font-style: italic;
}
